{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "test/**/*.*",
    "dist/**/*.*",
    "coverage/**/*.*",
    ".build/**/*.*",
    "docs/**/*.*",
    "rollup.config.js"
  ],
  "reporter": [
    "text",
    "lcov",
    "html"
  ],
  "branches": 1,
  "lines": 1,
  "functions": 1,
  "statements": 1,
  "check-coverage": true
}
