.loading {
  width: 100%;
  min-height: 1rem;
  position: relative;
  overflow: hidden;
}
.loading:before {
  content: ' ';
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background-color: rgba(255, 255, 255, .8);
  z-index: 2000;
}


.embeded-nav-bar iframe {
  box-sizing: content-box;
  width: 100%;
  height: 56px;
}
